include ../parcials/head
body
   include ../components/navbar
   main(style="min-height: calc(100vh - 52px - 125px - 4px)")
      include ../components/hero
      section
         .container.mx-auto
            ul.grid.grid-cols-1.gap-4(class="sm:grid-cols-3 md:grid-cols-4 sm:mt-4 sm:p-2")
               each product in products
                  li.border(class="sm:shadow-md sm:mb-4 sm:border-gray-200")
                     figure.h-0.relative(style="padding-bottom: 133.33%")
                        img.w-full.h-full.object-cover.absolute.inset-0(style="", src=product.image, alt=`Product ${product.name}`)
                     .p-4
                        p.font-semibold.text-xl.mb-4
                           | #{product.name}
                        button.block.w-full.bg-teal-500.py-1.text-white.rounded(class="focus:bg-teal-400 hover:bg-teal-600")
                           | Add to cart $#{product.price}
   include ../components/footer