footer
   nav.border-t-4.border-teal-600
      .container.mx-auto.divide-y
         .flex.justify-between.px-2.py-4.items-center
            h3.font-semibold.text-2xl &laquo;EXPRESS&raquo;
            ul.flex.items-center
               li.ml-4
                  a(href="")
                     img.w-6(src="./assets/facebook.svg", alt="logo facebook")
               li.ml-4
                  a(href="")
                     img.w-6(src="./assets/instagram.svg", alt="logo facebook")
               li.ml-4
                  a(href="")
                     img.w-6(src="./assets/twitter.svg", alt="logo facebook")
         .flex.justify-between.px-2.py-4.items-center
            p Lorem ipsum dolor sit amet.
            p Oction 2020 | All right reserved
