section.bg-gray-900.text-white
      .container.mx-auto
         .px-2.py-16
            h1.font-bold.text-4xl.leading-none.mb-4 Octolion Shop
            h3.font-light.text-2xl.leading-none Lorem ipsum dolor sit amet consectetur, adipisicing elit.?