header
   nav.bg-teal-500.text-white
      .container.mx-auto
         .flex.justify-between.p-2.items-center
            ul
               li
                  a.text-2xl.font-bold(href="/") &laquo;EXPRESS&raquo;
            ul.flex.uppercase.font-semibold
               li.mr-2
                  a(href="/products")
                     img.w-6(src="assets/shopping-cart.svg", alt="shopping-card")
